@import 'variables';

// Layout Manager
$rs-content-bg: black;
$rs-drop-indicator-bg: $brand-success;
$rs-tab-bg: $brand-primary;
$rs-tab-inactive-bg: $gray-base;

// Sidebar
$rs-sidebar-bg: $gray-darker;
$rs-sidebar-item-bg: $gray-dark;

.respace {
  overflow: hidden;
  .sidebar {
    background: $rs-sidebar-bg;
  }
}

@import 'golden-layout-theme';
