@import '~normalize.css/normalize.css';
@import '~@blueprintjs/core/dist/variables';
@import '~@blueprintjs/core/dist/blueprint.css';
@import '~flexboxgrid/dist/flexboxgrid.css';
@import '../helpers';

.pt-navbar {
  box-shadow: none;
  padding-right: 2em;

  .pt-navbar-heading {
    font-weight: 500;
    color: $dark-gray5;
  }
}

#rs-app, #rs-root {
  height: 100vh;
}

#rs-sidenav {
  background: $dark-gray4;
}

#rs-sidebar {
  background: $dark-gray3;
  padding: 0;
}

#rs-content {
  background: $light-gray5;
  padding: 0;
}

#rs-user-status {
  background: $dark-gray1;
  height: 50px;
  margin: 0;
}