@import 'variables';

// Layout Manager
$rs-content-bg: black;
$rs-drop-indicator-bg: $brand-success;
$rs-tab-bg: $brand-primary;
$rs-tab-inactive-bg: $gray-base;

// Sidebar
$rs-sidebar-bg: $gray-darker;
$rs-sidebar-item-bg: $gray-dark;

.respace {
  overflow: hidden;
  background: $gray-base;
  .content {
    background: $gray-base;
  }
  .sidebar {
    background: $rs-sidebar-bg;
    .component-picker {
      .panel {
        border: none;
      }
      .panel-heading {
        border-bottom: none;
        background-color: darken($gray-darker, 5%);
      }
      .item {
        background-color: darken($gray-dark, 5%);
        color: $gray;
      }
      .item:hover {
        color: white;
        background-color: $brand-primary;
      }
      .item-active {
        font-weight: 400;
        border-left-width: 3px;
        border-left-style: solid;
        border-left-color: $brand-primary;
        color: white;
        background-color: $gray-dark;
      }
    }
  }
}

@import 'golden-layout-theme';
