@import 'variables';

// Layout Manager
$rs-content-bg: black;
$rs-drop-indicator-bg: $brand-success;
$rs-tab-bg: $brand-primary;
$rs-tab-inactive-bg: $gray-base;

// Sidebar
$rs-sidebar-bg: darken($gray-darker, 10%);
$rs-sidebar-item-bg: $gray-dark;

.respace {
  overflow: hidden;
  background: $gray-base;
  .close-button :hover {
    color: white;
    background-color: $brand-danger;
    border-radius: 12px;
  }
  .content {
    background: $gray-base;
  }
  .sidebar {
    background: $rs-sidebar-bg;
    .component-picker {
      .panel {
        border: none;
      }
      .panel-heading {
        border-bottom: none;
        background-color: darken($gray-darker, 10%);
      }
      .item {
        border-left-width: 3px;
        border-left-style: solid;
        border-left-color: $gray;
        background-color: darken($gray-dark, 10%);
        color: darken($gray-light, 10%);
      }
      .item:hover {
        color: white;
        background-color: $brand-primary
      }
      .item-active {
        font-weight: 500;
        border-left-color: lighten($brand-primary, 10%);
        color: white;
        background-color: $gray-dark;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
}


@import 'golden-layout-theme';
